.column {
  display: flex;
  flex-direction: column;
  background-color: steelblue;
}
.connectingCards {
  display: flex;
  margin-top: -73px;
  margin-left: 7px;
}
.row {
  display: flex;
  flex-direction: row;
}
