.domino {
  height: 50px;
  width: 50px;
  background-color: rosybrown;
}
.red {
  background-color: rgb(241, 19, 19);
}
.blue {
  background-color: rgb(76, 0, 253);
}
.button {
  display: flex;
  border: none;
  background-color: rgba(255, 255, 255, 0.3);
  margin-top: -33px;
  margin-left: 11px;
}
.button {
  display: flex;
  margin-bottom: 17px;
}
