.dontShow {
  display: none;
}
.border {
  border: 1px solid red;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.centre {
  display: flex;
  justify-content: center;
}
.spaceequal {
  display: flex;
  justify-content: space-evenly;
}
.spaceequal > * {
  margin-top: 50px;
}
.player0 {
  margin-top: 10px;
}
.player1 {
  margin-top: 10px;
}
